.dd{background:white;display:block;margin:0;padding:0;position:relative;width:auto;font-size:14px;}
.dd .ddactive{font-weight:700}
.dd dt{
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
.ddown{background:white}
.ddarrow{border-color:#999 transparent transparent !important;margin-top:-3px}
.dd li,.dd dt{padding:10px 20px}.dd li:hover{background:#eee}